* {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  color: #272a31;
}

ul {
  list-style-type: none;
}

header {
  padding: 18px 24px;
}

.material-icons.mob_close {
  display: none;
}

.color_red {
  color: #ec5242;
}

.color_white {
  color: #fff;
}

.color_gray {
  color: #d3d3d3;
}

body {
  background-image: url(images/bcg_main.png);
  background-repeat: repeat-x;
}

main .hello {
  padding: 36px 24px 0;
  font-size: 18px;
  font-weight: 500;
}

main h1 {
  padding: 0 24px;
  font-size: 36px;
  font-weight: 900;
  color: #ec5242;
  Background-image: url(images/bcg_red.jpeg);
  Background-size: cover;
  Background-clip: text;
  -webkit-background-clip: text;
  Color: transparent;
}

main .descr {
  margin: 24px 12px;
  padding: 16px;
  font-size: 12px;
  line-height: 24px;
  border: 2px solid white;
  background-image: url(images/bcg_blank.png);
}

main .when {
  padding: 0 24px;
  font-size: 22px;
  font-weight: 800;
}

main .local {
  font-size: 14px;
  padding: 12px 18px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.red242 { color: #ec5242; }

.material-symbols-outlined.md-48 { font-size: 48px; }
.material-symbols-outlined.md-96 { font-size: 96px; }
.material-symbols-outlined.whitefff { color: #fff; }
.material-symbols-outlined.grayd3 { color: #d3d3d3; }

.material-symbols-outlined {
  font-variation-settings:
  'wght' 100
}

.main_program {
  margin: 48px 0 12px;
  background-image: url(images/bcg_progr.png);
}

.main_program .bcg_dark {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.main_program h2 {
  padding: 24px 0 12px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.main_program div {
  width: 30px;
  border-bottom: 1px solid #ec5242;
  margin: 0 auto 36px;
}

.main_program ul {
  width: calc(100% - 24px);
}

.main_program ul li ul {
  display: grid;
  grid-template-columns: 15% 25% calc(60% - 24px);
  align-items: center;
  column-gap: 12px;
  padding: 12px;
  background-color: rgba(75, 75, 75, 0.5);
  margin: 12px;
}

.main_program ul .progr {
  font-weight: 600;
}

.main_program ul .activ {
  font-size: 12px;
}

.main_program button {
  background-color: #ec5242;
  color: #fff;
  width: calc(100% - 96px);
  height: 64px;
  border-style: none;
  margin: 48px;
}

.musicians {
  width: calc(100% - 48px);
}

.musicians h2 {
  text-align: center;
  padding: 18px;
}

.musicians div {
  width: 50px;
  border-bottom: 1px solid #ec5242;
  margin: 18px auto;
}

.musicians article {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 'img name' 'img role' 'img line' 'img descr';
  column-gap: 48px;
  padding: 18px;
}

.musicians article img {
  grid-area: img;
  width: 124px;
  height: auto;
}

.musicians article h3 {
  grid-area: name;
  font-size: 16px;
  font-weight: 700;
  font-family: Cocogoose, Helvetica, sans-serif;
}

.musicians article .role {
  grid-area: role;
  color: #ec5242;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  padding: 8px 0;
}

.musicians article div {
  grid-area: line;
  width: 15px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #d3d3d3;
}

.musicians article .description {
  grid-area: descr;
  font-size: 10px;
  line-height: 15px;
  padding-top: 10px;
}

.musicians button {
  width: 100%;
  margin: 0 24px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
