* {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  color: #272a31;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header {
  padding: 18px 24px;
}

.material-icons-outlined.mob_close {
  display: none;
}

.color_red {
  color: #ec5242;
}

.color_white {
  color: #fff;
}

.color_gray {
  color: #d3d3d3;
}

body {
  background-image: url(images/bcg_main.png);
  background-repeat: repeat-x;

  /* background-size: cover; */
}

body.about {
  background-image: url(images/bcg_about.png);
  text-align: center;

  /* background-size: cover; */
}

body.about header {
  text-align: left;
}

main {
  padding-bottom: 36px;
}

main .hello {
  padding: 30px 24px 0;
  font-size: 18px;
  font-weight: 500;
}

main h1 {
  padding: 0 24px;
  font-size: 36px;
  font-weight: 900;
  color: #ec5242;
}

main.index h1 {
  padding: 0 24px;
  font-size: 36px;
  font-weight: 900;
  background-image: url(images/bcg_red.jpeg);
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}

main.about .hello {
  padding: 12px;
}

main .descr {
  margin: 24px 12px;
  padding: 16px;
  font-size: 12px;
  line-height: 24px;
  border: 2px solid white;
  background-image: url(images/bcg_blank.png);
}

main .when {
  padding: 0 24px;
  font-size: 22px;
  font-weight: 800;
}

main .local {
  font-size: 14px;
  padding: 12px 18px;
}

main .email {
  font-size: 10px;
  line-height: 15px;
  width: 66%;
  margin: 0 17%;
}

main a {
  font-size: 10px;
  font-weight: 700;
  padding-bottom: 24px;
}

/* Rules for sizing the icon. */
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
.material-icons-outlined.red242 { color: #ec5242; }

.material-symbols-outlined.md-48 { font-size: 48px; }
.material-symbols-outlined.md-96 { font-size: 96px; }
.material-symbols-outlined.whitefff { color: #fff; }
.material-symbols-outlined.grayd3 { color: #d3d3d3; }

.material-symbols-outlined {
  font-variation-settings: 'wght' 100;
}

.main_program {
  margin: 48px 0 12px;
  background-image: url(images/bcg_progr.png);
}

.main_program .bcg_dark {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.main_program h2 {
  padding: 24px 0 12px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.main_program div {
  width: 30px;
  border-bottom: 1px solid #ec5242;
  margin: 0 auto 36px;
}

.main_program ul {
  width: calc(100% - 24px);
}

.main_program ul li ul {
  display: grid;
  grid-template-columns: 15% 25% calc(60% - 24px);
  align-items: center;
  column-gap: 12px;
  padding: 12px;
  background-color: rgba(75, 75, 75, 0.5);
  margin: 12px;
}

.main_program ul .progr {
  font-weight: 600;
}

.main_program ul .activ {
  font-size: 12px;
}

.main_program button {
  background-color: #ec5242;
  color: #fff;
  width: calc(100% - 96px);
  height: 64px;
  border-style: none;
  margin: 48px;
}

.musicians {
  width: calc(100% - 48px);
  margin-left: 24px;
}

.musicians h2 {
  text-align: center;
  padding: 18px;
}

.musicians div {
  width: 30px;
  border-bottom: 1px solid #ec5242;
  margin: 18px auto;
}

.musicians article {
  display: grid;
  grid-template-columns: 30% calc(70% - 12px);
  grid-template-areas: 'img name' 'img role' 'img line' 'img descr';
  column-gap: 12px;
  padding: 18px 0;
}

.musicians article img {
  grid-area: img;
  width: 100%;
  height: auto;
}

.musicians article h3 {
  grid-area: name;
  font-size: 16px;
  font-weight: 700;
  font-family: Cocogoose, Helvetica, sans-serif;
}

.musicians article .role {
  grid-area: role;
  color: #ec5242;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  padding: 8px 0;
}

.musicians article div {
  grid-area: line;
  width: 15px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #d3d3d3;
}

.musicians article .description {
  grid-area: descr;
  font-size: 10px;
  line-height: 15px;
  padding-top: 10px;
}

.musicians button {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-color: #fff;
}

.logo h2 {
  padding: 36px 0 12px;
}

.logo div {
  width: 30px;
  border-bottom: 1px solid #ec5242;
  margin: auto;
}

.logo p {
  font-size: 12px;
  padding: 12px 0 36px;
  line-height: 18px;
}

.logo img {
  border: 1px solid #d3d3d3;
  padding: 0 24px;
}

.past {
  width: calc(100% - 96px);
  margin: 24px;
}

.past h2 {
  padding: 36px 0 12px;
}

.past .sep {
  width: 30px;
  border-bottom: 1px solid #ec5242;
  margin: auto;
}

.past p {
  font-size: 12px;
  padding: 12px 0 36px;
  line-height: 18px;
}

.past img {
  width: 100%;
}

.past .picture {
  position: relative;
  line-height: 0%;
}

.past .picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(236, 82, 66, 0.5);
}

.past .centered_1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}

.past .centered_2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
}

.past .space {
  height: 24px;
}

.partner {
  background-color: #272a31;
}

.partner h2 {
  padding: 24px 0 0;
  color: #fff;
  font-weight: 400;
}

.partner div {
  width: 30px;
  border-bottom: 1px solid #ec5242;
  margin: 18px auto;
}

.partner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 36px;
}

.partner img {
  width: 100px;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 48px);
  height: 100px;
  margin: 0 24px;
  column-gap: 10%;
}

footer img {
  width: 30%;
  height: auto;
}

footer p {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
}