* {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif;
  color: #272a31;
}

ul {
  list-style-type: none;
}

header {
  padding: 18px 24px;
}

.material-icons.mob_close {
  display: none;
}

.color_red {
  color: #ec5242;
}

.color_gray {
  color: #d3d3d3;
}

body {
  background-image: url(images/bcg_main.png);
  background-repeat: repeat-x;
}

main h2 {
  padding: 36px 24px 0;
  font-size: 18px;
  font-weight: 500;
}

main h1 {
  padding: 0 24px;
  font-size: 36px;
  font-weight: 900;
  color: #ec5242;
  Background-image: url(images/bcg_red.jpeg);
  Background-size: cover;
  Background-clip: text;
  -webkit-background-clip: text;
  Color: transparent;
}

main .descr {
  margin: 24px 12px;
  padding: 16px;
  font-size: 12px;
  line-height: 24px;
  border: 2px solid white;
  background-image: url(images/bcg_blank.png);
}

main h3 {
  padding: 0 24px;
  font-size: 22px;
  font-weight: 800;
}

main .local {
  font-size: 14px;
  padding: 12px 18px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-96 { font-size: 96px; }
